* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgb(174, 7, 174);
    justify-content: space-around;
    color: white;
    /* padding: 20px 0; */
    height: 50px;
    align-items: center;
    /* bisa pake padding bisa pake height */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: .3s;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
}


/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    /* background-color: red; */
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
}




/* Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}



/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: rgb(168, 16, 168);
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        opacity: 0;
        width: 50%;
        /* width: 100%; */
        transition: all .5s;
    }

    nav ul.slide {
        transform: translate(0);
        opacity: 1;
        transition: all .5s;

    }

    /* nav .logo.slide2 {
        display: none;
    } */
}